
<div id="map" style="height: 100vh;"></div>

<script>
document.addEventListener("turbo:load", function() {
  var map = L.map('map').setView([43.08209, -73.78910], 10); // Center the map to a default location

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  var customIcon = L.icon({
    iconUrl: '<%= asset_path("marker-icon.png") %>',
    iconRetinaUrl: '<%= asset_path("marker-icon.png") %>',
    iconSize: [25, 41], // size of the icon
    iconAnchor: [12, 41], // point of the icon which will correspond to marker's location
    popupAnchor: [1, -34], // point from which the popup should open relative to the iconAnchor
  });

  var jobs = <%= raw @jobs.to_json %>;

  jobs.forEach(function(job) {
    if (job.latitude && job.longitude) {
      L.marker([job.latitude, job.longitude], { icon: customIcon }).addTo(map)
        .bindPopup('<b>' + job.job_number + '</b><br>' + job.customer_name + '<br>' + job.address);
    }
  });
});

</script>
