<h1>Appointments</h1>

<div class="row">
  <!-- Calendar on the left side -->
  <div class="col-md-9">
    <%= render 'home/calendar' %>
  </div>

  <!-- Right sidebar for appointments and new appointment form -->
  <div class="col-md-3">
    <%= render 'appointments/appointments_sidebar' %>
  </div>
</div>
