<h1>Users</h1>
<%= link_to 'New User', new_admin_user_path, class: 'btn btn-primary' %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td>
          <!-- Add any actions you need, like edit or delete -->
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
